i.icon {
    width: 1rem;
    height: 1rem;
}

i.icon.icon-follow {
    background: url(../img/follow.svg) no-repeat;
}

i.icon.icon-suggest {
    background: url(../img/suggest.svg) no-repeat;
}

i.icon.icon-about {
    background: url(../img/about.svg) no-repeat;
}

i.icon.icon-contact {
    background: url(../img/contact.svg) no-repeat;
}

i.icon.icon-set {
    background: url(../img/settings.svg) no-repeat;
}

.list-block {
    margin: 0;
}

.k-user-info {
    padding: 1rem 0;
}

.k-avatar img {
    border-radius: 5rem;
}

.k-user-operate {
    text-align: center;
}

.k-user-operate li.col-33 {
    margin-left: 2%;
}

.k-user-operate p {
    margin: .5rem 0 0;
    font-size: .8rem;
}

.k-user-operate a {
    color: #fff;
}

.k-user-opt {
    margin-top: .5rem;
}

.k-user-opt a {
    display: inline-block;
    width: 100%;
    color: #333;
}

.k-user-opt .item-media {
    margin-left: .5rem;
}

.content-padded {}

.content-padded img {
    width: 100%;
}

.content-padded p {
    font-size: .8rem;
}

.k-avt-upload {
    text-align: center;
    background: #395cd6;
    height: 8rem;
}

.k-avt-upload label {
    position: relative;
    padding: 1rem;
    display: inline-block;
    width: 100%;
}

.k-avt-upload label img {
    width: 3rem;
    border-radius: 3rem;
}

.k-avt-upload label::after {
    position: absolute;
    content: url(../img/camera.svg);
    width: 1rem;
    height: 1rem;
    bottom: 1.2rem;
    left: 54%;
}

.k-logout {
    padding: 1rem 0;
}

.k-avatar {
    width: 2rem;
}

.k-user-info div {
    color: #fff;
}

.k-user-info .item-inner {
    margin-top: .3rem
}

.media-list ul {
    padding: 1rem;
}

.k-user-operate ul {
    padding-bottom: 1rem;
}

.media-list ul,
.k-user-operate ul {
    background: #395cd6;
    color: #fff;
}

.k-ulist-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.k-usubmit {
    margin-top: 2rem;
}

.k-usubmit a {
    background: #395cd6;
    color: #fff;
}

.k-ulist .item-title.label {
 margin-left: 2rem;
}