ul,
li {
    list-style: none;
}

.content {
    background: #fff;
}

.buttons-row {
    margin: 1rem;
}

.k-nav {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

.k-nav::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.k-nav li {
    display: inline-block;
}

.content-block {
    margin: 0;
    padding: 0;
}

.cur-content {
    background: #0c3c8b;
    margin: 0;
    padding: 1rem 0;
    position: relative;
    color: #fff;
    font-weight: normal;
}

.cur-content img {
    height: 4rem;
    vertical-align: middle;
}

.cur-content h5 {
    margin: .6rem;
}

.cur-content h4 {
    margin: .6rem;
    font-weight: normal;
}

.k-charts {
    width: 320px;
    height: 280px;
    margin: 0 auto;
}

.list-block {
    margin: 0;
}

.k-atitle {
    margin: 0;
    font-size: .7rem;
}

.k-atag {
    margin: 10px 0 0;
}

.k-atag span {
    margin-right: .8rem;
    font-size: .6rem;
}

.k-aimg {
    height: 4rem;
}

.k-top {
    font-weight: bold;
    color: #e6374b;
}

.item-content a {
    color: #555;
}

.k-timeline {
    padding: 1rem;
    margin: 0;
    background-color: #fff;
}

.k-timeline li {
    position: relative;
    border-left: 1px solid #999;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.k-timeline li::before {
    position: absolute;
    content: url('../../img/time.svg');
    width: 1rem;
    height: 1rem;
    left: -.5rem;
    top: -.1rem;
}

.k-timeline h6 {
    margin: 0;
    font-weight: normal;
    color: #ccc;
}

.k-timeline p {}

.k-timeline a {
    position: absolute;
    right: 0;
    bottom: 1.5rem;
}

.k-fbtn {
    position: absolute;
    right: .3rem;
    top: 1.2rem;
    color: #fff;
}

div.item-inner.k-slink {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.k-slink a {
    display: inline-block;
    padding-top: 2rem;
    font-size: .6rem;
    width: 3rem;
    text-align: center;
}

.ico-websit {
    background: url(../../img/ico-link.svg) no-repeat top center;
    background-size: 1.5rem;
}

.ico-browser {
    background: url(../../img/ico-earth.svg) no-repeat top center;
    background-size: 1.5rem;
}

.ico-paper {
    background: url(../../img/ico-book.svg) no-repeat top center;
    background-size: 1.5rem;
}

.ico-github {
    background: url(../../img/ico-github.svg) no-repeat top center;
    background-size: 1.5rem;
}

.ico-facebook {
    background: url(../../img/ico-facebook.svg) no-repeat top center;
    background-size: 1.5rem;
}

.ico-telegram {
    background: url(../../img/ico-telegram.svg) no-repeat top center;
    background-size: 1.5rem;
}

.ico-twitter {
    background: url(../../img/icon-twitter.svg) no-repeat top center;
    background-size: 1.5rem;
}

.ico-weibo {
    background: url(../../img/icon-weibo.svg) no-repeat top center;
    background-size: 1.5rem;
}

.k-qrcode img {
    margin: auto;
    display: inline-block;
    width: 300px;
}

a.k-link {
    color: #0894ec;
}

.k-cur-tab {
    margin: .5rem;
    padding: .5rem;
    -webkit-box-shadow: 0px 3px 2px #f7f7f7;
    box-shadow: 0px 3px 2px #f7f7f7;
}

.k-cur-tab a {
    color: #999;
    margin-right: .5rem;
    padding-bottom: .2rem;
}

.k-cur-tab a.active {
    color: #333;
    border-bottom: 2px solid #0c3c8b;
}